<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/journal.css" type="text/css">
    <script>
        
    </script>
</head>
<body>
    <div class = "container">
        <div class = "subject">대훈이와의 일기</div>
        <div class = "calendar">달력</div>
        <div class = "searchingarea">
            <input type="text" class = "search"><button class = "searchbutton"></button>
        </div>
        <div class = "yesterday"></div>
        <div class = "today"></div>
    </div>
</body>
</html>